.button {
  background-color: var(--off-white);
  border: 1px solid var(--off-white);
  color: var(--black);
  border-radius: 8px;
  display: block;
  padding: 24px 32px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .button {
    font-weight: 600;
  }
}
