.textarea {
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
}

.textarea textarea {
  resize: none;
  min-height: 132px;
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--gray200);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  outline: none;

  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.textarea textarea::placeholder {
  color: var(--gray);
}

.textarea textarea:focus {
  border: 1px solid var(--primary300);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

.textarea span {
  color: var(--gray600);
}

.textarea--error textarea {
  border: 1px solid #f89687;
}

.textarea--error textarea:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #ffd3cc;
}

.textarea--error span {
  color: #f83f23;
}
