.default-layout__container {
  max-width: 1216px;
  margin-right: auto;
  margin-left: auto;
  padding: 64px 16px;
}

@media screen and (min-width: 768px) {
  .default-layout__container {
    padding: 0;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1216px;
  padding: 0px 16px;
}

.footer {
  padding-top: 48px;
}

.footer .container-fluid {
  border-top: 1px solid #eaecf0;
  padding: 32px 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
}

.footer-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--black100);
}

@media screen and (min-width: 768px) {
  .social-section {
    margin-bottom: 64px;
  }

  .footer .container-fluid {
    padding: 32px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
