* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --off-white: #eaecf0;
  --black: #101828;
  --black100: #667085;
  --ff-inter: "Inter", sans-serif;
}

body {
  font-family: var(--ff-inter);
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    font-weight: 600;
  }
}
