* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --off-white: #eaecf0;
  --black: #101828;
  --black100: #667085;
  --ff-inter: "Inter", sans-serif;
}

#root {
  padding: 44px 0;
}

@media screen and (min-width: 768px) {
  #root {
    padding: 64px 0;
  }
}

body {
  font-family: var(--ff-inter);
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    font-weight: 600;
  }
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed #d0d5dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-button-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .share-button-desktop {
    display: flex;
  }

  .share-button-mobile {
    display: none;
  }
}

.container {
  width: 100%;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 48px;
    max-width: 1152px;
  }
}

.profile-section {
  margin-bottom: 32px;
}

.profile-section .container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.share-button {
  position: absolute;
  right: 16px;
  left: auto;
  top: 0;
}

@media screen and (min-width: 768px) {
  .profile-section {
    margin-bottom: 56px;
  }

  .share-button {
    right: 20%;
    transform: translateY(-60%);
  }
}

.twitter {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .twitter {
    font-size: 20px;
    line-height: 30px;
  }
}

.main {
  margin-bottom: 24px;
}

.main .container {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.social-section .container {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 24px;
}

.social-section {
  margin-bottom: 32px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1216px;
  padding: 0px 16px;
}

.footer {
  padding: 80px 0 32px;
}

.footer .container-fluid {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
}

.footer-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--black100);
}

@media screen and (min-width: 768px) {
  .social-section {
    margin-bottom: 64px;
  }

  .footer .container-fluid {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
